<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Purchase Voucher coded in HTML</title>
    <link rel="stylesheet" href="../styles/purchaseVoucher.css">

</head>

<body>

    <h1 class="titleOfPage">Purchase Voucher</h1>

    <div class="grid-container">
        <div class="practice">Practice:</div>
        <div class="blank"></div>
        <div class="blank"></div>
        <div class="blank"></div>
        <div class="SBCM-PC">SBCM-PC</div>
        <div class="SBAS-LLC">SBAS-LLC</div>
        <div class="SBBV-LLC">SBBV-LLC</div>
        <div class="SBCN-IPA-LLC">SBCN-IPA-LLC</div>
        

        <div class="received-by">Recieved By:</div>
        <div class="blank1"></div>
        <div class="blank1"></div>
        <div class="blank1"></div>
        <div class="d1">Date:</div>
        <div class="blank2"></div>
        <div class="blank2"></div>
        <div class="blank2"></div>
        

        <div class="reviewed-by">Reviewed By:</div>  
        <div class="blank3"></div>
        <div class="blank3"></div>
        <div class="blank3"></div>
        <div class="d2">Date:</div>
        <div class="blank4"></div>
        <div class="blank4"></div>
        <div class="blank4"></div>
      </div>



      <div class="vendor-info-container">
        <div class="vendor-info">&nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;
            Vendor Information &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
             &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            New Vendor &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp;
            Yes &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
            No &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>
      </div>
      
    <br>

    <div class="grid-container1">
        <div class="v1">
            <p class="g1">Vendor Name:</p> 
        </div>
        <div class="v1">
            <p class="g1">Contract: </p>
        </div>
        <div class="v1">
            <p class="g1">Street Adress: </p>
        </div>
        <div class="v1">
            <p class="g1">Suite / Apartment / Floor #: </p>
        </div>
        <div class="v1">
            <p class="g1">City / State: </p>
        </div>
        <div class="v1">
            <p class="g1">Phone: </p>
        </div>
        <div class="v1">
            <p class="g1">Email: </p>
        </div>
        <div class="v1">
            <p class="g1">Website: </p>
        </div>
    </div>

    <br>

    <div class="tax-center">
        <div class="tax-container">
            <b>
                Vendor Tax Registration (Tax ID)
            </b>
        </div>
    </div>

    <div class="grid-container2">
        <div class="name">Name: </div>
        <div class="business-name">Business Name: </div>
        <div class="irs-forms">IRS Forms</div>

        <div class="b1"></div>
        <div class="w9">W-9</div>
        <div class="b2"></div>
        <div class="1099">1099</div>
        <div class="ein">EIN: </div>
    </div>


    <div class="invoice-center">
        <div class="invoice-container">
            Vendor Invoices
        </div>
    </div>

    <div class="note-center">
        <div class="note-container">
            Note: Rocky Point Sound Neurology - Changes
        </div>
    </div>
    <br>
    <br>


</body>

</html>
