<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Invoice Automation Tool</title>
    <link rel="stylesheet" href="../styles/template.css">

</head>

<body>
    <div class="SBAS-Practice">
        <b>
            Stony Brook Community Medical P.C. <br>
            Details of Pathways for <br>
            Sound Neurology
        </b>
        <div>
            <div class="WP-Reference"><b>W/P Ref</b> 7/7/2023</div>
            <div class="Prepared-By">Prepared by: <b>Rob Toy</b></div>
            <div class="Reviewed-By">Reviewed by:</div>
        
        </div>
    </div>

    <br>
    <hr>
    <br>
    <div class="Voucher-Total"><b>Voucher Total: <u>$   2,057.36 </u></b> </div>

    <br>

    <div class="grid-container">
        <div class="grid-item">Date</div>
        <div class="grid-item">Number</div>
        <div class="grid-item">Memo</div>
        <div class="grid-item">GL Code</div>
        <div class="grid-item">Amount</div>
        <div class="grid-item">Invoice Total</div>

        <div class="grid-item white-background">06/30/23</div>
        <div class="grid-item white-background">205426</div>
        <div class="grid-item white-background">Services: Data Drop installation, Move Data Drop, Provide and Install 48 Port Patch Panel Siemon's 650025</div>
        <div class="grid-item white-background">650025</div>
        <div class="grid-item white-background">$2,057.36</div>
        <div class="grid-item white-background">-</div>

        <div class="grid-item white-background"></div>
        <div class="grid-item white-background"></div>
        <div class="grid-item white-background"></div>
        <div class="grid-item white-background"></div>
        <div class="grid-item white-background"></div>
        <div class="grid-item white-background">$ 2,057.36</div>

        <div class="grid-item white-background"></div>
        <div class="grid-item white-background"></div>
        <div class="grid-item white-background"></div>
        <div class="grid-item white-background"></div>
        <div class="grid-item last-column">
            <span>$ 2,057.36</span>
            <span>$ 2,057.36</span>
        </div>
    </div>

    <br>

    <div class="note-center">
        <div class="note-container">
            Note: Rocky Point Sound Neurology - Changes
        </div>
    </div>
    <br>
    <br>

    <div class="signature-container">
        <div class="signature-text">IT Approver Signature:</div>
        <div class="signature-line"></div>

        <div class="date-container">
            <div class="date-text">Date:</div>
            <div class="date-line"></div>
        </div>
    </div>

    <br>
    <br>

</body>

</html>
